nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 230, 188);
  color: whitesmoke;
  font-weight: 1000;
  height: 60px;
  font-size: larger;
  gap: 50px;
}

div {
  padding: 10px;
}

div:hover {
  background-color: darkred;
}
